@import "tailwindcss";
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Enable dark mode based on system preference */
  --default-color-scheme: light dark;

  /* Custom dark background color */
  --color-custom-dark: #1a1a1a;

  /* Custom font family */
  --font-family-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-custom-dark;
}

@keyframes meteor-effect {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 1;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translate(600px, 600px) rotate(45deg);
    opacity: 0;
  }
}

.animate-meteor-effect {
  animation: meteor-effect linear forwards;
}
