@import "tailwindcss";
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant support-page (&:where(.support-page, .support-page *));

@theme {
  /* Enable dark mode based on system preference */
  --default-color-scheme: light dark;

  --breakpoint-xs: 30rem;

  /* Custom dark background color */
  --color-custom-dark: #1a1a1a;

  /* Custom font family */
  --font-family-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-custom-dark;
}
